@import "tailwindcss";
@plugin "flyonui" {
   themes: light --default, dark --prefersdark;
}
@plugin "@iconify/tailwind4";

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}